html {
  font-family: "Ubuntu Condensed", sans-serif;
}

body {
  height: 100px;
  color: #fff;
  background-image: url("../images/starfield.png");
}

.banner-text {
  text-shadow: 1px 1px 10px rgba(255, 255, 255, .7);
}

.icon {
  display: inline-block;
  background-image: url("../images/rocket.svg");
}

.btn-ghost {
  color: #b4fff4;
  border: 3px #90ccc3 solid;
  border-radius: 8px;
  height: 3em;

  transition: all .3s ease;
  position: relative;
  left: 0;
  bottom: 0;
}

.btn-ghost:hover .icon {
  bottom: .25em;
}

.btn-ghost:hover {
  background-color: rgba(180, 255, 244, .2);
  color: #b4fff4;
  border: 3px #90ccc3 solid;
}

.btn-ghost:active {
  top: .5em;
  background-color: transparent;
}

.btn-ghost:focus {
  top: .5em;
  border-color: #90ccc3;
  background-color: transparent;
}
